<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>This is my first web</title>
    </head>
      <body>
        <h1>Ori Cohen web</h1>
        <p style="color:blue"> Hi everone, <br> my name is ori </p>
        <ol>
            <li>Kiryat Gat</li>
            <li>Jerusalem</li>
            <li>Tel Aviv</li>
        </ol>
        <ul>Paris</ul>
        <ul>London</ul>
        <ul>Milano</ul>
        <a href="https://www.valdisere.com/en/now/">Link to Val D'lsere</a>

        <img width="100%" height="100%" src="../imgs/skiVal.jfif" alt="image not found">

        <video width="320" height="240" controls>
            <source src="../imgs/ski.mp4" type="video/mp4">
          </video>
        <table style="border: 1px black solid;">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>1</td>
                <td>ori</td>
                <td>oco@post.bgu.ac.il</td>
            </tr>
        </table>
      </body>

</html>