<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="../static/script.js"></script>
</head>
<body>
    <div class="GridContainer">
        <div class="item1">
            <h1>header</h1>
        </div>
        <div class="item2">
            <h1 id="demo">left</h1>
        </div>
        <div class="item3">
            <h1>right</h1>
        </div>
        <div class="item4">
            <a href="https://actualic.co.il/%D7%9E%D7%93%D7%90%D7%99%D7%92-%D7%9E%D7%90%D7%95%D7%93-%D7%AA%D7%97%D7%A7%D7%99%D7%A8-%D7%96%D7%9E%D7%9F-%D7%90%D7%9E%D7%AA-%D7%A2%D7%9C-%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%93%D7%99%D7%95/">project iran</a>
        </div>
        <div class="item5">
            <img src="../../4/static/car.jpg" width="150px" height="150px" alt="image not found">
        </div>
    </div>

</body>
</html>